<!DOCTYPE html>
<html lang="en" ng-app="moduloPrincipal">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurante en una antigua hermita en un pueblo de Badajoz">
    <meta name="keywords" content="estancia,albergue,restaurante,puebla,senderismo,caballos,toros">
    <meta name="author" content="Rafael Montaño Boraita">

    <title>La hermita</title>

    <!-- CSS -->
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">

    <!-- Elegant icons CSS -->
    <link href="css/simple-line-icons.css" rel="stylesheet" media="screen">

    <!--[if lte IE 7]>
        <script src="js/icons-lte-ie7.js"></script>
    <![endif]-->

    <!-- Magnific-popup lightbox -->
    <link href="css/magnific-popup.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">

    <!-- Animate css -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- Time and Date piker CSS -->
    <link href="css/jquery.timepicker.css" rel="stylesheet" media="screen">
    <link href="css/datepicker.css" rel="stylesheet" media="screen">

    <!-- Custom styles CSS -->
    <link href="css/style.css" rel="stylesheet" media="screen">
</head>
<body ng-init="cambioIdioma('es')" ng-controller="PrincipalPage">

    <!-- Preloader -->

    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>

    <!-- Navigation start -->

    <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{{textoIdioma.tituloWeb}}</a>
            </div>
			<div class="form-group">
			</div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll"><a href="#home">{{textoIdioma.menu.primero}}</a></li>
                    <li class="page-scroll"><a href="#about">{{textoIdioma.menu.segundo}}</a></li>
                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{textoIdioma.menu.tercero}}</a>
                                <ul class="dropdown-menu">
                                    <li class="page-scroll"><a href="#servicesHome">{{textoIdioma.menu.tercero}}</a></li>
                                    <li class="page-scroll"><a href="#conTiempo">{{textoIdioma.menu.cuarto}}</a></li>
                                    <li class="page-scroll"><a href="#reuniones">{{textoIdioma.menu.quinto}}</a></li>
                                </ul>
                    </li>
                    <li class="page-scroll"><a href="#carta">{{textoIdioma.menu.sexto}}</a></li>
                    <li class="page-scroll"><a href="#gallery">{{textoIdioma.menu.septimo}}</a></li>
                    <li class="page-scroll"><a href="#reservations">{{textoIdioma.menu.octavo}}</a></li>
                    <li class="page-scroll"><a href="#situacion">{{textoIdioma.menu.noveno}}</a></li>
                    <li class="page-scroll"><a href="#siguenos">{{textoIdioma.menu.decimo}}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{textoIdioma.idioma}}</a>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="cambioIdioma('es')">{{idiomaPrimero}}</a></li>
                                    <li><a ng-click="cambioIdioma('in')">{{idiomaSegundo}}</a></li>
                                    <li><a ng-click="cambioIdioma('al')">{{idiomaTercero}}</a></li>
                                </ul>
                    </li>
                </ul>
            </div>

        </div><!-- .container -->

    </nav>

    <!-- Navigation end -->

    <!-- Home start -->

    <section id="home" class="intro-module module-image parallax heightfull bg-dark-alfa-30">

        <div class="intro">

            <div class="intro-slider">
                <!-- Slide 1 -->
                <div class="owl-item">
                    <h1 class="intro-title">{{textoIdioma.home.primerTexto}}</h1>
                </div>
                <!-- Slide 2 -->
                <div class="owl-item">
                    <h1 class="intro-title">{{textoIdioma.home.segundoTexto}}</h1>
                </div>
                <!-- Slide 3 -->
                <div class="owl-item">
                    <h1 class="intro-title">{{textoIdioma.home.tercerTexto}}</h1>
                </div>
            </div><!-- .intro-slider -->

        </div><!-- .intro -->

        <div class="mouse-icon">
            <div class="wheel"></div>
        </div>

    </section>

    <!-- Home end -->

    <!-- About start -->

    <section id="about" class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.about.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.about.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {{textoIdioma.about.texto}}
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="devider">
                        <img src="img/divider-down.svg" alt="">
                    </div>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- About end -->

    <!-- Servicios section start -->

    <section id="servicesStart" class="callout parallax">
        <div class="container">

            <div class="row">
                <div class="col-sm-2 col-sm-offset-5 text-center long-down">
                    <img src="img/divider-top.svg" alt="">
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2 class="callout-text">{{textoIdioma.servicios.textoPrincipal}}</h2>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- servicios section end -->

    <!-- servicios start -->

    <section id="servicesHome" class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.servicios.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.servicios.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-left">
                    <ul>
                        <li>{{textoIdioma.servicios.tipo1}}</li>
                        <li>{{textoIdioma.servicios.tipo2}}</li>
                        <li>{{textoIdioma.servicios.tipo3}}</li>
                        <li>{{textoIdioma.servicios.tipo4}}</li>
                        <li>{{textoIdioma.servicios.tipo5}}</li>
                        <li>{{textoIdioma.servicios.tipo6}}</li>
                    </ul>
                    
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="devider">
                        <img src="img/divider-down.svg" alt="">
                    </div>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- servicios end -->
    
    <!-- conTiempo section start -->

    <section id="conTiempoStart" class="callout parallax">
        <div class="container">

            <div class="row">
                <div class="col-sm-2 col-sm-offset-5 text-center long-down">
                    <img src="img/divider-top.svg" alt="">
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2 class="callout-text">{{textoIdioma.conTiempo.textoPrincipal}}</h2>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- conTiempo section end -->

    <!-- conTiempo start -->

    <section id="conTiempo" class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.conTiempo.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.conTiempo.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-left">
                    <ul>
                        <li>{{textoIdioma.conTiempo.tipo1}}</li>
                        <li>{{textoIdioma.conTiempo.tipo2}}</li>
                        <li>{{textoIdioma.conTiempo.tipo3}}</li>
                        <li>{{textoIdioma.conTiempo.tipo4}}</li>
                        <li><a href="http://www.aceitesclemen.com/" target="_blank">{{textoIdioma.conTiempo.tipo5}}</a></li>
                    </ul>
                    
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="devider">
                        <img src="img/divider-down.svg" alt="">
                    </div>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- conTiempo end -->
    
    <!-- conTiempo section start -->

    <section id="reunionesStart" class="callout parallax">
        <div class="container">

            <div class="row">
                <div class="col-sm-2 col-sm-offset-5 text-center long-down">
                    <img src="img/divider-top.svg" alt="">
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2 class="callout-text">{{textoIdioma.reuniones.textoPrincipal}}</h2>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- conTiempo section end -->

    <!-- conTiempo start -->

    <section id="reuniones" class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.reuniones.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.reuniones.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h4>{{textoIdioma.reuniones.texto}}</h4>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="devider">
                        <img src="img/divider-down.svg" alt="">
                    </div>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- conTiempo end -->

    <!-- Callout section start -->

    <section id="callout-two" class="callout parallax">
        <div class="container">

            <div class="row">
                <div class="col-sm-2 col-sm-offset-5 text-center long-down">
                    <img src="img/divider-top.svg" alt="">
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-12">
                    <h2 class="callout-text">{{textoIdioma.carta.textoPrincipal}}</h2>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- Callout section end -->

    <!-- Popular start -->

    <section id="carta" class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.carta.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.carta.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">

                <div class="col-sm-6">

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu1titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu1detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu1precio}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu2titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu2detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu2precio}}</h4>
                                <!-- <div class="menu-label">New</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu3titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu3detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu3precio}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu4titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu4detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu4precio}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu5titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu5detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu5precio}}</h4>
                            </div>
                        </div>
                    </div>

                </div><!-- .col-sm-6 -->

                <div class="col-sm-6">

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu6titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu6detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu6precio}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu7titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu7detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu7precio}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu8titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu8detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu8precio}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu9titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu9detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu9precio}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="menu-title">{{textoIdioma.carta.menu10titulo}}</h4>
                                <div class="menu-detail">{{textoIdioma.carta.menu10detalle}}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                                <h4 class="menu-price">{{textoIdioma.carta.menu10precio}}</h4>
                            </div>
                        </div>
                    </div>

                </div><!-- .col-sm-6 -->

            </div><!-- .row -->

            <!-- <div class="row">
                <div class="col-sm-6 col-sm-offset-3 long-up text-center">
                    <a href="menu-simple.html" class="btn btn-custom-1">View Menu</a>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="devider">
                        <img src="img/divider-down.svg" alt="">
                    </div>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- Popular end -->

    <!-- Callout section start -->

    <!-- <section id="callout-three" class="callout parallax">
        <div class="container">

            <div class="row">

                <div class="col-sm-10 col-sm-offset-1">
                    <div class="testimonials-slider">

                        <div class="owl-item">
                            <blockquote>Sea food and the best view. Nothing in excess.</blockquote>
                            <div class="testimonial-author">
                                <div class="row">
                                    <div class="col-sm-6 testimonial-avatar">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg" alt="">
                                    </div>
                                    <div class="col-sm-6 testimonial-info">
                                        <h4>Jack Woods</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star star-off"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="owl-item">
                            <blockquote>I love this place!</blockquote>
                            <div class="testimonial-author">
                                <div class="row">
                                    <div class="col-sm-6 testimonial-avatar">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg" alt="">
                                    </div>
                                    <div class="col-sm-6 testimonial-info">
                                        <h4>Andy River</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="owl-item">
                            <blockquote>Perhaps the most romantic place in the city.</blockquote>
                            <div class="testimonial-author">
                                <div class="row">
                                    <div class="col-sm-6 testimonial-avatar">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg" alt="">
                                    </div>
                                    <div class="col-sm-6 testimonial-info">
                                        <h4>Jimmy Stone</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star star-off"></i>
                                            <i class="fa fa-star star-off"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section> -->

    <!-- Callout section end -->

    <!-- Services start -->

    <!-- <section id="services" class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">We provide the following</h2>
                        <h3 class="module-subtitle">Services</h3>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-3">
                    <div class="iconbox">
                        <div class="iconbox-body equal-height">
                            <div class="iconbox-icon"><span class="icon-calendar"></span></div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">Opened 24/7</h3>
                                <div class="iconbox-desc">
                                    Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="iconbox ">
                        <div class="iconbox-body equal-height">
                            <div class="iconbox-icon"><span class="icon-directions"></span></div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">Free parking</h3>
                                <div class="iconbox-desc">
                                    Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="iconbox">
                        <div class="iconbox-body equal-height">
                            <div class="iconbox-icon"><span class="icon-map"></span></div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">Central Location</h3>
                                <div class="iconbox-desc">
                                    Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="iconbox">
                        <div class="iconbox-body equal-height">
                            <div class="iconbox-icon"><span class="icon-like"></span></div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">High quality</h3>
                                <div class="iconbox-desc">
                                    Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center long-up">
                    * Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="devider">
                        <img src="img/divider-down.svg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section> -->

    <!-- Services end -->

    <!-- Gallery start -->

    <section id="gallery">

        <div class="row position-relative margin-0">

            <div class="col-xs-12 col-md-4 side-image">

                <div class="vertical-body">
                    <div class="vertical">

                        <div class="module-header wow fadeInUp">
                            <h2 class="module-title">{{textoIdioma.galeria.titulo}}</h2>
                            <h3 class="module-subtitle">{{textoIdioma.galeria.subTitulo}}</h3>
                        </div>

                        <div class="long-down">
                            <p>{{textoIdioma.galeria.texto}}</p>
                        </div>

                        <!-- <a href="gallery.html" class="btn btn-custom-1">View Gallery</a> -->

                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-8 col-md-offset-4 gallery-no-padding">

                <div class="row">

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <figure class="overlay">
                                <img src="img/gallery-1.jpg" alt="">
                                <figcaption>
                                    <a href="img/gallery-big-1.jpg" class="gallery" title="Ermita de belén"></a>
                                    <div class="caption-inner">
                                        <div class="overlay-icon">
                                            <span class="icon-magnifier"></span>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <figure class="overlay">
                                <img src="img/gallery-2.jpg" alt="">
                                <figcaption>
                                    <a href="img/gallery-big-2.jpg" class="gallery" title="Vista hacia belén"></a>
                                    <div class="caption-inner">
                                        <div class="overlay-icon">
                                            <span class="icon-magnifier"></span>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <figure class="overlay">
                                <img src="img/gallery-3.jpg" alt="">
                                <figcaption>
                                    <a href="img/gallery-big-3.jpg" class="gallery" title="Plaza de toros"></a>
                                    <div class="caption-inner">
                                        <div class="overlay-icon">
                                            <span class="icon-magnifier"></span>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div><!-- .row -->

                <div class="row">

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <figure class="overlay">
                                <img src="img/gallery-4.jpg" alt="">
                                <figcaption>
                                    <a href="img/gallery-big-4.jpg" class="gallery" title="Salón comedor"></a>
                                    <div class="caption-inner">
                                        <div class="overlay-icon">
                                            <span class="icon-magnifier"></span>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <figure class="overlay">
                                <img src="img/gallery-5.jpg" alt="">
                                <figcaption>
                                    <a href="img/gallery-big-5.jpg" class="gallery" title="Recepción"></a>
                                    <div class="caption-inner">
                                        <div class="overlay-icon">
                                            <span class="icon-magnifier"></span>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <figure class="overlay">
                                <img src="img/gallery-6.jpg" alt="">
                                <figcaption>
                                    <a href="img/gallery-big-6.jpg" class="gallery" title="Sala de estar"></a>
                                    <div class="caption-inner">
                                        <div class="overlay-icon">
                                            <span class="icon-magnifier"></span>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div><!-- .row -->

            </div><!-- .gallery-no-padding -->

        </div><!-- .row -->
    </section>

    <!-- Gallery end -->

    <!-- Reservations start -->

    <section id="reservations" class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.reservacion.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.reservacion.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <form id="booking-form" role="form" data-mobiletimepiker="On" novalidate>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="bname">{{textoIdioma.reservacion.nombre}}</label>
                                <input type="text" id="bname" class="form-control" name="bname" placeholder="{{textoIdioma.reservacion.nombre}}" required data-validation-required-message="{{textoIdioma.reservacion.mensajeNombre}}">
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="bphone">{{textoIdioma.reservacion.telefono}}</label>
                                <input type="number" id="bphone" class="form-control" name="bphone" placeholder="{{textoIdioma.reservacion.telefono}}" required data-validation-required-message="{{textoIdioma.reservacion.mensajeTelefono}}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="bemail">{{textoIdioma.reservacion.email}}</label>
                                <input type="email" id="bemail" class="form-control" name="bemail" placeholder="{{textoIdioma.reservacion.email}}" required data-validation-required-message="{{textoIdioma.reservacion.mensajeEmail}}">
                                <p class="help-block"></p>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="bpeople">{{textoIdioma.reservacion.cantidad}}</label>
                                <input type="text" id="bpeople" class="form-control" name="bpeople" placeholder="{{textoIdioma.reservacion.cantidad}}" required data-validation-required-message="{{textoIdioma.reservacion.mensajeCantidad}}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="bdate">{{textoIdioma.reservacion.fecha}}</label>
                                <input type="text" id="bdate" class="form-control" name="bdate" placeholder="{{textoIdioma.reservacion.fecha}}" required data-validation-required-message="{{textoIdioma.reservacion.mensajeFecha}}">
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="btime">{{textoIdioma.reservacion.hora}}</label>
                                <input type="text" id="btime" class="form-control" name="btime" placeholder="{{textoIdioma.reservacion.hora}}" autocomplete="off" required data-validation-required-message="{{textoIdioma.reservacion.mensajeHora}}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <textarea class="form-control" id="bmessage" name="bmessage" rows="4" placeholder="{{textoIdioma.reservacion.comentario}}" required data-validation-required-message="{{textoIdioma.reservacion.mensajeComentario}}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-custom-1">{{textoIdioma.reservacion.boton}}</button>
                            </div>
                        </div><!-- .row -->

                    </form>
                    <!-- Ajax response -->
                    <div id="booking-response" class="ajax-response"></div>

                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="devider">
                        <img src="img/divider-down.svg" alt="">
                    </div>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- Reservations end -->

    <!-- Ubicación start -->
    <section id="situacion" class="module module-gray">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.ubicacion.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.ubicacion.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div style="height: 300px; width: 100%;" my-map=""></div>
                    <!-- <div class="twitter owl-carousel wow fadeInUp"></div> -->
                </div>
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div my-map=""></div>
                    <div class="wow"><a href="https://www.google.com/maps/place/Albergue+La+Hermita/@38.389878,-6.4150817,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xaa6450e2c2a80fd0?hl=es">{{textoIdioma.ubicacion.verMapa}}</a></div>
                </div>
                
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- Twitter end -->

    <!-- Subscribe start -->

    <section id="siguenos" class="module module-dark">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="module-header wow fadeInUp">
                        <h2 class="module-title">{{textoIdioma.contacto.titulo}}</h2>
                        <h3 class="module-subtitle">{{textoIdioma.contacto.subTitulo}}</h3>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">
                    <form id="subscription-form" role="form" novalidate>
                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="sname">{{textoIdioma.contacto.nombre}}</label>
                                <input type="text" id="sname" class="form-control" name="sname" placeholder="{{textoIdioma.contacto.nombre}}" required data-validation-required-message="{{textoIdioma.contacto.validacionNombre}}">
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="sr-only" for="ssurname">{{textoIdioma.contacto.apellido}}</label>
                                <input type="text" id="ssurname" class="form-control" name="ssurname" placeholder="{{textoIdioma.contacto.apellido}}" required data-validation-required-message="{{textoIdioma.contacto.validacionApellidos}}">
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label class="sr-only" for="semail">{{textoIdioma.contacto.email}}</label>
                                <input type="email" id="semail" name="semail" class="form-control" placeholder="{{textoIdioma.contacto.email}}" required data-validation-required-message="{{textoIdioma.contacto.validacionApellidos}}">
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-default btn-custom-2">{{textoIdioma.contacto.boton}}</button>
                            </div>

                        </div><!-- .row -->
                    </form>
                    <!-- Ajax response -->
                    <div id="subscription-response" class="ajax-response"></div>
                </div>

            </div><!-- .row -->

            <div class="row">
                <div class="col-md-12 text-center long-up">
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/albergue.lahermita" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
                        <!-- <li><a href="#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li> -->
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- Subscribe end -->

    <!-- Footer start -->

    <footer id="footer">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright">
                        © 2015 <a href="http://www.boraita.es">MO Design & development</a>, All Rights Reserved.
                    </p>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->
    </footer>

    <!-- Footer end -->

    <!-- Scroll-up -->

    <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Javascript files -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Use for slideshow background -->
    <script src="js/jquery.backstretch.min.js"></script>
    
    <!-- Agujar-JS -->
    <script src="js/angular.min.js"></script>

    <!-- Use for video background -->
    <!-- <script src="js/video.js"></script> -->
    <!-- <script src="js/bigvideo.js"></script> -->

    <!-- Date and time picker -->
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.datepair.min.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Google Maps -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/gmaps.js"></script>

    <!-- Other -->
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/twitterFetcher_min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom scripts -->
    <script src="js/custom.js"></script>
    
	<!--     MainJs 	-->
	<script src="js/main.js"></script>
</body>
</html>